//- header
head
  meta(charset='utf-8')
  title Ghost Game
  meta(name='description', content='Summer Challenge 2015 - Ghost Game')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='author', content='Juan Antonio Aguilar')
  link(rel='shortcut icon', href='./images/favicon.ico')
  link(href='lib/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
  link(href='css/landing.css', rel='stylesheet', media='screen')
  link(href='css/style.css', rel='stylesheet', media='screen')