extends layout

block content-1st-row-center
  h2#rules Rules
  p
    | In the game of Ghost, two players take turns building up an English word
    | from left to right. Each player adds one letter per turn. The goal is to not
    | complete the spelling of a word: if you add a letter that completes a word
    | (of 4+ letters), or if you add a letter that produces a string that cannot be
    | extended into a word, you lose.
  p
    a.btn.btn-challenge(href='./pdf/ghost-game-rules.pdf') View details &raquo;

block content-1st-row-left
  h2 Put your logo here
  p
    | We need sponsors for this amazing challenge
  p
    a.btn.btn-challenge(href='mailto:2015.summer.challenge@gmail.com') Contact &raquo;

block content-1st-row-right
  h2 Put your logo here
  p
    | We need sponsors for this amazing challenge
  p
    a.btn.btn-challenge(href='mailto:2015.summer.challenge@gmail.com') Contact &raquo;

block jumbotron
  h3 Ghost Game
  #msgpanel
    h3#msg
  #uxcontainer
  #ghostux.form-group
    div.row
      div.col-md-9.col-md-offset-1
        div#contain-clues.row    
          div.col-md-2.pull-left
            input#rookie(type='checkbox', name='mode')
            label(for='mode') Rookie Mode  
          div#cluelabel.col-md-2.pull-left
            label.input-lg(for="clue") Clues
          div#cluebox.col-md-5.pull-left
            select#cluelist.form-control.input-lg(name='clue')
              option  -- select clue --
          div#setclue.col-md-3.pull-left
            input#cluebutton.btn(type='submit', value='Use', onclick='useClue()')            
        div.row    
          div.col-md-2
            label(for='term') Ghost Word
          div.col-md-5  
            input#ghost-word.form-control.input-lg(name='term', placeholder="Insert a letter to play the Ghost Game" autofocus)
        div.row    
          div#contain-submit.col.md-3
            input#submit-word.btn.btn-default(type='submit', value='Send', onclick='postGhostWord()')
          div#contain-submit.col.md-3
            a.btn.btn-challenge(href='/newgame') New Game &raquo;
  #ajaxloader.modal

block libraries
  include ./partials/ghost-footer