doctype 
//
  Author: Juan Antonio Aguilar
  Challenge 2015
  Based on Michael Milstead's tutorial
  for Untame.net
  Twitter Bootstrap Tutorial
  Parallax Demo, 2013
  Migrated from Bootstrap 2 to 3 version
//-  
  html to jade conversion using online tool: http://html2jade.aaron-powell.com/
html(lang='en')
  include ./partials/header   
  //- body    
  body
    include ./partials/menu-main
    //- corporative image            
    section#intro(data-speed='6', data-type='background')
      .container-fluid
        .row.logo
          .col-xs-12.col-md-8.col-lg-8.text-center
            img.img-responsive(src='images/ghost_game_logo.png')
          .col-xs-12.col-md-5.col-lg-3.text-center
            img.img-responsive(src='images/ghost-gamepad.png')
        //- jumbotron section    
        .jumbotron
          block jumbotron
    //- section content  
    section#home(data-speed='4', data-type='background')
      .container
        .row
          .col-md-3.well
            block content-1st-row-left
          .col-md-4.col-md-offset-1.well
            block content-1st-row-center
          .col-md-3.col-md-offset-1.well
            block content-1st-row-right
    //- section footer
    section#about(data-speed='2', data-type='background')
      .container
        .page-header
          h1 Summer Challenge 2015
        .row
          .col-md-4.foot
            h3 More Details
            p
              | The background photograph is distributed under creative commons license. 
              | The logotype was built using opensource tools such us GIMP and Inkscape. The typography is based in two fonts
              | lucida console and cubano, the last one is copyrighted under 
              a(href='./pdf/treehouse-cubano-license.pdf', target="_blank") these terms
              | .
          .col-md-4.foot
            h3 Features
            .media
              a.pull-left(href='#')
                span.glyphicon.glyphicon-ok(aria-hidden='true')
              .media-body
                h4.media-heading Server side Technologies
                |                   Node JS, Express, Node JS, Jade templates engine.
            .media
              a.pull-left(href='#')
                span.glyphicon.glyphicon-ok(aria-hidden='true')
              .media-body
                h4.media-heading Client side technologies
                |                     HTML/CSS3, jQuery/Ajax, Bootstrap.
            .media
              a.pull-left(href='#')
                span.glyphicon.glyphicon-ok(aria-hidden='true')
              .media-body
                h4.media-heading Additional tools
                |                     GIMP, Inkscape, Sublime Text, Npm, Ubuntu.
          .foot.col-md-4
            h3 About
            p
              | IT Manager, Software Architect and Digital Marketer. Analytical thinking and problem solving skills. Business logic, 
              | Database modelling, SQL expert: complex query performance and administration. I am experienced in interfaces, middleware 
              | and SOA as well as data and information analysis.
            img#author.responsive-img.pull-right(src='images/jasset.png')
            p
              a.btn.btn-challenge(href='http://bit.ly/juanantonioaguilar-en') More details &raquo;
    include ./partials/footer
    block libraries