doctype
html
  include ./partials/header
  body
    include ./partials/menu-main 
    //- corporative image            
    section#intro(data-speed='6', data-type='background')
      .container-fluid
        .row.logo
          .col-xs-12.col-md-8.col-lg-8.text-center
            img.img-responsive(src='images/ghost_game_logo.png')
          .col-xs-12.col-md-5.col-lg-3.text-center
            img.img-responsive(src='images/ghost-gamepad.png')
        //- jumbotron section    
        .jumbotron
          h2 This site use Google Analytics technology to store information about Ghost Game
          p
            | It would be an awesome add on to show statistics directly in this web page.
            | However this could be in the future. Right now, we have prepared a 
            | specific account for this purpose. Feel free to access to analytics account.
            | Choose 
            b "Ghost Game" 
            | view, and pay special attention to 
            b "Behavior->Events" 
            | and 
            b "Real Time->Events" 
            |at left menu (or Shorcuts with descriptions)
            br 
            |Credentials:
          ul
            li
              h3
                | Username: 2015.summer.challenge@gmail.com
            li
              h3
                | Password: node20express15
          p
            a.btn.btn-primary.btn-lg.btn-challenge(href='http://www.google.es/intl/en/analytics/', target="_blank" role='button')
              | Analytics    
    include ./partials/footer
