#intro { 
  background: url(../images/intro-alpha.png) 50% 0 fixed; 
  height: auto;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0;
}
#home { 
  background: url(../images/nebula.jpg) 50% 0 fixed; 
  height: auto;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 200px 0;
}
#about { 
  background: url(../images/about.png) 50% 0 fixed; 
  height: auto;
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0;
  color: #fff;
}

#video-pillars-container{
  margin-bottom: 12px;
}

.logo > div {
  height: 362;
  vertical-align: bottom;
}


.foot > p {
  text-align: justify;
  text-justify: inter-word;
}

#author {
  max-width:220px;
}

/* Non-essential demo stuff */
.jumbotron {
  padding: 5px; 
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;  
  text-align: justify;
  text-justify: inter-word;
}

.media-object { width: 64px; height: 64px; padding-bottom: 30px }

.glyphicon-ok {
  color: #e8a911;
  font-size: 32pt;
}

/**
* Bootstrap Form customizing
*/
#ghostux > ul{
  font-size: 12pt;
  list-style-type: none;
}

.form-group {
    padding:5px;
}
.form-group > * {
    margin:5px 5px 5px 5px;
}

#ghost-word{
  text-transform: lowercase;
  margin-top: 3px;
}

#contain-clues{
  margin-bottom: 15px;
}

#contain-submit{
  margin-top: 15px;
}

/**
* ghost game message styles
*/
.gg-youwin{
  color: #e8a911;
}
.gg-youlose{
  color: #1150e8;
}
.gg-error{
  color: #e8111a;
}

/**
* external resources used:
*   http://www.color-hex.com/
* http://blog.koalite.com/bbg
*/

.btn-challenge { 
  color: #FFFFFF; 
  background-color: #e8a911; 
  border-color: #FFEB69; 
} 
 
.btn-challenge:hover, 
.btn-challenge:focus, 
.btn-challenge:active, 
.btn-challenge.active, 
.open .dropdown-toggle.btn-challenge { 
  color: #FFFFFF; 
  background-color: #FFDD00; 
  border-color: #FFEB69; 
} 
 
.btn-challenge:active, 
.btn-challenge.active, 
.open .dropdown-toggle.btn-challenge { 
  background-image: none; 
} 
 
.btn-challenge.disabled, 
.btn-challenge[disabled], 
fieldset[disabled] .btn-challenge, 
.btn-challenge.disabled:hover, 
.btn-challenge[disabled]:hover, 
fieldset[disabled] .btn-challenge:hover, 
.btn-challenge.disabled:focus, 
.btn-challenge[disabled]:focus, 
fieldset[disabled] .btn-challenge:focus, 
.btn-challenge.disabled:active, 
.btn-challenge[disabled]:active, 
fieldset[disabled] .btn-challenge:active, 
.btn-challenge.disabled.active, 
.btn-challenge[disabled].active, 
fieldset[disabled] .btn-challenge.active { 
  background-color: #e8a911; 
  border-color: #FFEB69; 
} 
 
.btn-challenge .badge { 
  color: #e8a911; 
  background-color: #FFFFFF; 
}


